<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Goera</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <div class="home_container" style="height: fit-content">
      <h1 style="text-align: center" class="home_heading">
        <span style="color: #ff6308">Go</span>era
      </h1>
      {{if .ErrorMessage}}
      <div style="color: #ff3333; text-align: center; margin-bottom: 15px;">
        {{.ErrorMessage}}
      </div>
      {{end}}
      <form
        class="login_form"
        id="signupForm"
        method="POST"
        action="/api/register"
      >
        <div class="form_group">
          <label for="username" class="form_label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form_input"
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="form_group">
          <label for="password" class="form_label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form_input"
            placeholder="Enter your password"
            required
          />
        </div>
        <button type="submit" class="primary_button">SignUp</button>
      </form>
      <div style="width: 100%; margin-top: 10px; text-align: center">
        <p
          style="
            color: azure;
            margin-top: 12px;
            font-family: 'Roboto', sans-serif;
          "
        >
          Already have an account?
          <a href="/login" style="color: #ff6308; text-decoration: none"
            >Login</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
