<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Template Example</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <div class="home_container" style="height: fit-content;">
      <h1 class="home_heading">
        Welcome To
        <span style="color: #ff6308">Go</span>era
      </h1>
      <a href="/login" style="text-decoration: none; color: inherit">
        <div style="width: 100%; margin-top: 10px">
          <button class="primary_button">Continue, Go Go Go!</button>
        </div>
      </a>
    </div>
  </body>
</html>
